# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
*.egg

# Virtual environment
venv/
.venv/

# Environment secrets
.env
*.env.local
*.env.*.local
!.env.production  # 部署配置文件需要提交到仓库

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Build
dist/
build/

# Node
node_modules/

# Logs
*.log
